# NOTE: The error in GitHub is for users that have not yet accepted invites to this repository; it is expected.

# CODEOWNERS file indicates code owners for certain files
#
# Code owners will automatically be added as a reviewer for PRs that touch
# the owned files.
#

# Default owners for everything in the repo
#
# Unless a later match takes precedence, these owners will be requested for
# review when someone opens a pull request.
*   @AloisReitbauer @thschue @joshgav @lianmakesthings @kgamanji @angellk

# Platforms WG
/platforms-*/ @AloisReitbauer @thschue @joshgav @lianmakesthings @kgamanji  @angellk @abangser @roberthstrand

# GitOps WG
/gitops-*/ @AloisReitbauer @thschue @joshgav @lianmakesthings @kgamanji @angellk @todaywasawesome @chris-short @scottrigby

# Artifacts WG
/artifacts-*/ @AloisReitbauer @thschue @joshgav @lianmakesthings @kgamanji @angellk @sabre1041 @rchincha
