//
// Main navbar
//

.td-navbar-cover {
    background: $primary;

    @include media-breakpoint-up(md) {
        background: transparent !important;

        .nav-link {
            text-shadow: 1px 1px 2px $dark;
        }

    }

    &.navbar-bg-onscroll .nav-link {
        text-shadow: none;
    }
}

.navbar-bg-onscroll {
    background: $primary !important;
    opacity: inherit;
}

.td-navbar {
    background: $primary;
    min-height: 4rem;
    margin: 0;
    z-index: 32;

    @include media-breakpoint-up(md) {
        position: fixed;
        top: 0;
        width: 100%;
    }


    .navbar-brand {
        text-transform: none;
        text-align: middle;

        .nav-link {
            display: inline-block;
            margin-right: -30px;
        }

        svg {
            display: inline-block;
            margin: 0 10px;
            height: 30px;
        }
    }

    .nav-link {
        text-transform: none;
        font-weight: $font-weight-bold;
    }

    .td-search-input {
        border: none;

        @include placeholder {
            color: $navbar-dark-color;
        }
    }

    .dropdown {
        min-width: 100px;
    }

    @include media-breakpoint-down(md) {
        padding-right: .5rem;
        padding-left: .75rem;

        .td-navbar-nav-scroll {
            max-width: 100%;
            height: 2.5rem;
            margin-top: .25rem;
            overflow: hidden;
            font-size: .875rem;

            .nav-link {
                padding-right: .25rem;
                padding-left: 0;
            }

            .navbar-nav {
                padding-bottom: 2rem;
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;

            }
        }
    }
}

@media print {
    /* Hide the navbar during printing */
    .navbar, .nav-tabs {
      display: none !important;
    }
  
    /* Ensure the tab content is visible and starts from the top */
    .tab-content > .tab-pane {
      display: block !important;  /* Ensure all tab content is shown */
      opacity: 1 !important;
      visibility: visible !important;
      margin-top: 20px; /* Space between the tab heading and content */
    }
  
    /* Display the tab name (from data-heading) as a heading before content */
    .tab-content > .tab-pane::before {
      content: attr(data-heading); /* Use the tab name from data-heading */
      font-size: 24px;
      font-weight: bold;
      color: $nav-tabs-link-active-color;
      background-color: $nav-tabs-link-active-bg;
      display: block;  /* Ensure the tab name is above the content */
    }
  
    /* Ensure that the content of the active tab is displayed properly */
    .tab-content {
      display: block !important;
      padding: 15px !important;
    }
  
    /* Hide unnecessary elements during printing */
    .no-print, .footer {
      display: none !important;
    }
  }