<div class="td-content">
	{{ $context := . }}
	{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" "categories" ) }}
	<h1>{{ .Title }}</h1>
	{{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
	{{ $context := . }}
	{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" "tags" ) }}
	<div class="td-byline mb-5 mt-3 text-muted">
		{{ with .Params.author }}{{ T "post_byline_by" }} {{ . | markdownify }} |{{ end}}
		<time datetime="{{  $.Date.Format "2006-01-02" }}" class="text-muted">{{ $.Date.Format $.Site.Params.time_format_blog  }}</time>
	</div>
	{{ .Content }}
	{{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable)) }}
		{{ partial "feedback.html" .Site.Params.ui.feedback }}
		<br />
	{{ end }}
	{{ partial "pager.html" . }}
</div>
